.homeCompMainDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.searchAndNewTask{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.searchAndNewTask > button, .searchAndNewTask > input{
    background: transparent;
    padding: 5px 10px; border-radius: 5px;
    border: 1px solid gray
}








/* =============================================================== */

/* Mobile Responsive */
@media (max-width:600px) {
    .homeCompMainDiv {
        padding: 20px;
    }
}