.homeCompMainDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.SearchAndNewTaskDiv {
    width: 100%;
}

.taskListDiv {
    border-radius: 5px;
    margin: 40px 5px 10px 5px;
    width: 100%;
    padding: 10px;
}


/* =============================================================== */

/* Responsive */
@media (max-width:1050px) {
    .homeCompMainDiv {
        padding: 30px;
    }

}

/* Mobile Responsive */
@media (max-width:750px) {
    .homeCompMainDiv {
        padding: 20px;
    }
}

@media (max-width:500px) {
    .homeCompMainDiv {
        padding: 10px;
    }
}