.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskBox {
  border: 1px solid gray;
  padding: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}

.description {
  font-size: 16px;
  margin-bottom: 10px;
  color: #555;
}

.dueDate,
.status {
  font-size: 14px;
  margin-bottom: 5px;
  color: #777;
}

.loading {
  text-align: center;
  font-size: 18px;
  color: #555;
}

.error {
  color: red;
  text-align: center;
  font-size: 18px;
}